@import "tailwindcss";

:root {
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 220 13% 91%;
  --background: 220 13% 97%;
  --foreground: 220 13% 20%;
  --primary: 240 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 200 100% 50%;
  --secondary-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --muted: 220 13% 70%;
  --muted-foreground: 220 13% 30%;
  --accent: 45 100% 50%;
  --accent-foreground: 0 0% 100%;
  --popover: 220 13% 95%;
  --popover-foreground: 220 13% 10%;
  --card: 220 13% 95%;
  --card-foreground: 220 13% 10%;

  --radius: 8px;
}

/* Container */
.container {
  @apply mx-auto px-8;
  max-width: 1400px;
}

/* Border Radius */
.rounded-lg {
  border-radius: var(--radius);
}
.rounded-md {
  border-radius: calc(var(--radius) - 2px);
}
.rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

/* Accordion Animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
